---
---

@import "bootstrap_overrides";
@import "variables";
@import "highlight";

@import "asides/github";
@import "references";


body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $text-color;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


.blog-index {
  article.post.on-index {
    margin-bottom: 2.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid $footer-border-color;
  }
  article.post.on-index.last {
    margin-bottom: 0.5em;
    padding-bottom: inherit;
    border-bottom: inherit;
  }
}

.post {
  article.post-content {
    p {
      text-align: justify;
    }
  }
}

.asides {
  .panel-heading {
    .panel-title {
      font-size: $font-size-base;
    }
  }
}

footer.article {
  text-align: center;
  font-size: $font-size-small !important;
  background-color: $footer-bg;
  padding: 0.5em;
  margin: 1em 0 1em 0;
  
  .legal-notice {
    clear: both;
    display: block;
    text-align: center;
    .licensed-work-title, .licensed-work-author {
      font-style: italic;
    }
  }
}

.blog-footer {
  padding: 20px 0;
  color: $footer-color;
  text-align: center;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-color;
}
