section.gh-repos {
  #gh_repos {
    h4 {
      font-size: $font-size-base !important;
      .badge {
        font-size: ($font-size-small - 1) !important;
      }
    }
    .list-group-item {
      padding-bottom: 5px;
      padding-top: 5px;
      p {
        font-style: italic;
        font-size: $font-size-small !important;
        margin: 0;
      }
    }
  }

  .gh-profile-link {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: $font-size-small;
  }
}
